/*Mi ubicación*/
.container-map
{
    width: 100%;
    position: fixed;
    top: 0px;
    left: 200px;
    right: 0px;
    bottom: 50px;
    overflow: hidden;
}
.index-map
{
    width: 100%;
    height: 100%;
}
#googleMap
{
    width: 100%;
    height: 100%;
}
.form-horizontal
{
    position: fixed;
    background-color: #fce944;
    top: 100px;
    left: 300px;
    padding: 20px;
    z-index: 2;

}
#label-my-location
{
    margin-left: 40px;
    margin-top: 10px;
    font-weight: bold;
}
.marker-my-location
{
    margin-left: 20px;
    margin-right: -30px;
}
.btn-direction
{
    width: 100px;
}

#confirm_location
{
    padding: 10px;
}

.form-check-label
{
    color: rgb(14,39,165);
}

/*Formulario de trazar ruta*/
.container-map-form
{
    width: 100%;
    height: 200px;
}
.form-solicitud-title
{
    color: rgb(14,39,165);
    text-align: center;
    padding: 20px;
}
.form-request
{
    color: white;
    padding-top: 30px;
    margin-bottom: 30px;

}
.container-form
{
    position: relative;
    margin-top: 20px;
    background-image: url('../../img/arts/fondoblanco1242x2208.jpg');
    left: 0px;
    border: solid 5px grey;
    margin-bottom: 50px;
}
#output
{
    margin: 20px;
    color: rgb(14,39,165);
}


@media only screen and (max-width: 500px)
{ /*Mi Ubicación Responsive*/
    .container-map
    {
        width: 100%;
        position: fixed;
        top: 50px;
        left: 0px;
        right: 60px;
        bottom: 50px;
        overflow: hidden;
        padding: 0px;
    }
    .index-map
    {
        width: 100%;
        height: 100%;
    }
    #googleMap
    {
        width: 100%;
        height: 100%;
    }
    .form-horizontal
    {
        position: fixed;
        background-color: #fce944;
        width: 100%;
        top: 120px;
        left: 0px;
        right: 0px;
        padding: 10px;
        z-index: 2;
    
    }
    .btn-direction
    {
        width: 100px;
    } 

    /*Formulario Trazar Ruta Responsive*/
    .container-form
{
    position: absolute;
    width: 95%;
    background-color: white;
    top: 50px;
    left: 10px;
}
}
