body
{
    background-image: url('../server/images/arts/arts/light_mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/*index*/
.card-sesion
{
    background: transparent !important;
    border: none !important;
    width: 100%;
    padding-top: 50%;
    align-items: center;
}
.brand-login
{
  width: 60%;
}
.form-index
{
    display: contents;
}
.form-index-child
{
    width: 100%;
    display: contents;
}
#card_registrarse
{
    display: none;
}

.water-mark
{
    width: 40%;
    position: fixed;
    bottom: 0px;
    right: 0px;
}
/*index*/




@media screen and (min-width: 500px)
{
 .water-mark
 {
    width: 10%;
    position: fixed;
    bottom: 0px;
    right: 0px;
 }
 .card-sesion
 {
    padding-top: 10%;
    text-align: center;
 }
 .brand-login
 {
   width: 30%;
 }
}