/*inputs*/
.input-option-1
{
    width: 100%;
    background: #fce944;
    color: rgb(14,39,165);
    border: none;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px grey;
    text-align: center;
    margin-top: 3%;
}
/*inputs*/
/*buttons*/
.button-option-1
{
  width: fit-content;
  border: solid 2px grey;
  background: bottom;
  border-radius: 10px;
  color: rgb(14,39,165);
}
.button-google
{
  width: 100%;
  text-align: center;
  background: rgb(14,39,165);
  border-radius: 20px;
  color: #fce944;
  padding: 5px;
  font-family: serif;
  font-size: large;
  text-decoration: none;
  margin-bottom: 5px;
}
.install-button
{
  width: 100%;
  background: green;
  border-radius: 20px;
  padding: 5px;
  color: #fce944;
  font-size: large;
  font-family: serif;
}
/*buttons*/
/*Labels*/
.label-option-1
{
  color: rgb(14,39,165);
  font-family: serif;
  font-size: large;
  font-weight: bold;
}
/*Labels*/
/*Anchors*/
.anchor-option-1
{
  text-decoration: none;
  font-family: serif;
  font-size: medium;
  padding: 10px;
}
/*Anchors*/
/*span*/
.span-option-1
{
  font-size: small;
  color: rgb(14,39,165);
  margin: 5px;
}
/*span*/