/*alerts*/
.swal-modal {
  border-radius: 10px;
}

.swal-icon {
  display: none;
}

.swal-title {
  font-size: 20px;
  color: rgb(14, 39, 165);
}

.swal-text {
  color: rgb(14, 39, 165);
}

.swal-footer {
  text-align: center;
}

.swal-button {
  background: none !important;
  color: rgb(14, 39, 165);
}

/*alerts*/

.form-label {
  color: rgb(14, 39, 165);
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  font-weight: bold;
}