/*Mi ubicación*/
.container-map {
    width: 100%;
    position: fixed;
    top: 5%;
    bottom: 6%;
    overflow: hidden;
}

.index-map {
    width: 100%;
    height: 100%;
}

#googleMap {
    width: 100%;
    height: 100%;
}

.form-mi-ubicacion {
    background: #fce944;
    position: absolute;
    bottom: 0px;
    z-index: 2;
    width: 100%;
    left: 0px;
    border: solid 1px;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    font-family: serif;
    border-bottom: none;
}

.input-from,
#direccion_nombre {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 10px;
    box-shadow: inset 2px 2px;
}

.form-label {
    color: rgb(14, 39, 165);
    font-family: serif;
    font-size: large;
    font-weight: bold;
}

.marker-my-location {
    color: rgb(14, 39, 165);
}

.confirmar-location {
    background: rgb(14, 39, 165);
    color: #fce944;
    font-family: serif;
    font-weight: bold;
    border: solid 2px gray;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    font-size: large;
}

.form-check-label {
    color: rgb(14, 39, 165);
}

/*Mi Ubicación*/

/*calculadora*/
.calculator{
    padding: 15px;
}

.calculator-input,
.calculator-select {
    color: rgb(14, 39, 165) !important;
    font-family: 'Times New Roman', Times, serif !important;
}

.calculator-map {
    width: 100%;
    height: 200px;
    border: solid 1px;
    margin-top: 20px;
}

.calcular-buttons {
    display: grid;
    place-items: center;
    margin: 10px;
}

.calcular {
    width: 100%;
    margin-top: 30px;
    background: rgb(14, 39, 165);
    color: #fce944;
    font-size: large;
    font-family: serif;
    border-radius: 10px;
    padding: 5px;
}

.output {
    font-family: serif;
    font-size: large;
    color: rgb(14, 39, 165);
}

/*calculadora*/

/*Cambiar Clave*/
.back-button {
    background: none;
    border: none;
    color: rgb(14, 39, 165);
    padding-left: 10px;
    padding-right: 10px;
}

.password-form {
    padding: 10px;
}

.modificar-clave {
    width: 100%;
    border: none;
    background: rgb(14, 39, 165);
    color: #fce944;
    padding: 5px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: large;
    font-family: serif;
    font-weight: bold;
}

/*Cambiar Clave*/