.header-menu
{
  width: 100%;
  height: 5%;
  background: #fce944;
  position: fixed;
  top: 0px;
  z-index: 3;
}
.titulo-app
{
  font-size: x-large;
  font-family: serif;
  font-weight: bold;
  color: rgb(14,39,165);
}
.header-icons
{
  position: fixed;
    right: 30px;
    top: 10px;
}
.btn-setting
{
  position: fixed;
  top: 0%;
  right: 0%;
  background: none;
  border: none;
  font-size: x-large;
  color: rgb(14,39,165);
}
.footer-menu
{
  width: 100%;
  height: 6%;
  position: fixed;
  bottom: 0%;
  background: #fce944;
  display: inline-flex;
  justify-content: space-between;
  padding: 2%;
  z-index: 3;
}
.footer-icons
{

}
.span-icon
{
  display: flex;
  font-size: small;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  justify-content: space-evenly;
}
.options-menu
{

}