.form-label {
  color: rgb(14, 39, 165);
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  font-weight: bold;
}

.save-button {
  width: 100%;
  margin-top: 30px;
  background: rgb(14, 39, 165);
  color: #fce944;
  font-size: large;
  font-family: serif;
  border-radius: 10px;
  padding: 5px;
}

#profile_header,
.header-profile {
  display: grid;
  place-items: center;
}

.foto_perfil {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 5px;
  border: solid 2px rgb(14, 39, 165);
  margin: 20px;
}

.file-selector {
  display: none;
}

.fa-camera {
  color: rgb(14, 39, 165);
}

.file-selector-label {
  position: relative;
  bottom: 20px;
  font-size: large;
}