.form-label {
    color: rgb(14, 39, 165);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
}

.save-button {
    width: 100%;
    margin-top: 30px;
    background: rgb(14, 39, 165);
    color: #fce944;
    font-size: large;
    font-family: serif;
    border-radius: 10px;
    padding: 5px;
}

.motorcycles {
    padding: 10px;
}

.card-list {
    width: 100%;
    border-bottom: solid 1px gray;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
}

.card-list-header {
    border-bottom: solid 1px lightgray;
    justify-content: space-between;
    display: flex;
    padding-left: 10px;
    color: rgb(14, 39, 165);
}

.card-list-body {
    display: flex;
}

.list-data {
    padding-left: 5px;
    width: calc(100% - 100px);
    overflow-wrap: break-word;
}

.list-img {
    width: 100px;
    height: 100px;
}

.img-list {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: solid 1px grey;
    padding: 5px;
    border-radius: 10px;
}

.card-list-title {
    font-size: large;
    font-weight: bold;
    font-family: serif;
    color: rgb(14, 39, 165);
    text-decoration: none;
}

.list-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: rgb(14, 39, 165);
}

.list-links {
    display: flex;
    justify-content: space-evenly;
}

.list-link {
    text-decoration: none;
    font-family: serif;
    font-size: large;
    color: rgb(14, 39, 165);
    background: none;
    border: none;
}